@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-yellow: #ffc857;
  --color-blue: #5386e4;
  --color-body: #000000;
  --color-header: #1b1a1a;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-text);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hum_div {
  position: relative;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0px 0px 2px var(--color-yellow);
  transition: 1s ease;
  z-index: 100;
  display: none;
}

.hum_div .humberger {
  width: 50px;
}
.hum_div:hover .humberger {
  width: 40px;
}

.hum_div .humberger::after,
.hum_div .humberger::before {
  content: "";
  position: absolute;
  width: 50px;
  left: 4px;
  background: white;
  cursor: pointer;
}

.hum_div .humberger::after {
  height: 2px;
  transform: translateY(10px);
}
.hum_div:hover .humberger::after {
  width: 45px;
}
.hum_div:hover .humberger::before {
  left: 8px;
  width: 45px;
}

.hum_div .humberger::before {
  height: 2px;
  transform: translateY(-12px);
}

.anchor {
  text-decoration: none;
  color: var(--color-yellow);
}

.btn {
  background-color: var(--color-blue);
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--color-yellow);
  width: 8rem;
  font-weight: 600;
  box-shadow: 3px 2px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
}

.container {
  width: 90%;
  margin: 0 auto;
}
.Header .Header_btn {
  display: block;
}
.Header .hello {
  display: none;
}

.Header {
  background-color: var(--color-header);
  height: 3.5rem;
  display: flex;
}

.Header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.Header .container .logo {
  color: var(--color-yellow);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.Header .navBar .list {
  display: flex;
  align-items: center;
}

.Header .navBar .list li {
  list-style: none;
  margin: 1rem;
  transition: border 0.3s ease;
  position: relative;
}

.Header .navBar .list li::after {
  content: "";
  position: absolute;
  background: var(--color-yellow);
  width: 0.000001px;
  height: 3px;
  bottom: 0;
  left: 50%;
  right: 50%;
  z-index: -1;
  transition: 0.5s ease;
}
.Header .navBar .list li:hover::after {
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}
.Header .navBar .list li.active::after {
  content: "";
  position: absolute;
  background: var(--color-yellow);
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 50%;
  z-index: 1;
  transition: 0.5s ease;
}

.Header .navBar .list li a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
}

.hero_head {
  width: 100%;
  height: 100%;
  background-color: black;
  clip-path: polygon(59% 76%, 100% 100%, 100% 0, 0 0, 0 100%);
}

.hero .container {
  height: 70%;
  color: wheat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.hero .container .left {
  width: 40%;
}
.hero .container .left .hero_img {
  width: 100%;
  box-shadow: 10px 5px 5px var(--color-yello);
}
.hero .container .left .hero_img img {
  width: 100%;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.hero .container .left .hero_img img:hover {
  transform: scale(1.1);
}

.hero .container .right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.hero .container .right .info {
  display: flex;
  flex-direction: column;
}

.hero .container .right .info > p {
  text-align: center;
  color: var(--color-text);
  text-transform: capitalize;
}

@keyframes text {
}
.hero .container .right .info p:nth-child(1) {
  font-size: 2.5rem;
  color: var(--color-text);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.hero .container .right .info p:nth-child(1) span {
  color: var(--color-yellow);
}

.hero .container .right .hero_btn {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.hero .container .right .hero_btn button {
  width: 200px;
  height: 50px;
}

/* RESPONISVENESE */

@media (max-width: 1024px) {
  .hero .container .right .info p:nth-child(1) {
    font-size: 2rem;
  }

  .hero .container .right .hero_btn button {
    width: 150px;
    height: 50px;
    font-size: 0.8rem;
  }
}

@media (max-width: 780px) {
  .hero .container .right .info p:nth-child(1) {
    font-size: 1.7rem;
  }
  .Header .navBar .list li::after {
    width: 0.00001px;
  }
  .Header .Header_btn {
    display: none;
  }
  .Header .hello {
    display: flex;
  }

  .hero .container .right .info p:nth-child(2) {
    font-size: 0.9rem;
  }
  .hum_div {
    display: flex;
  }

  .Header .navBar {
    background-color: var(--color-header);
    width: 100%;
    z-index: 1;
    position: absolute;
    top: -12px;
    left: 0;
  }

  .Header .navBar.open {
    animation: circle1 1s;
  }

  .Header .navBar.close {
    animation: reverse1 1s;
    clip-path: circle(5% at 99% 1%);
  }
  .ab {
    clip-path: circle(5% at 99% 1%);
  }

  @keyframes reverse1 {
    0% {
      clip-path: circle(140% at 99% 1%);
    }

    50% {
      clip-path: circle(70% at 99% 1%);
    }

    100% {
      clip-path: circle(25% at 99% 1%);
    }
  }
  @keyframes circle1 {
    0% {
      clip-path: circle(25% at 99% 1%);
    }

    50% {
      clip-path: circle(70% at 99% 1%);
    }

    100% {
      clip-path: circle(140% at 99% 1%);
    }
  }
  .Header .navBar .list {
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    font-size: 1.4rem;
    position: relative;
    top: -80px;
  }
  .Header .Header_btn {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    animation: display1 5s;
  }
}

@media (max-width: 620px) {
  .hero .container {
    flex-direction: column;
  }
  .hero .container .left {
    width: 40%;
    display: none;
  }
  .hero .container .right {
    width: 100%;
    margin-top: 30%;
  }

  .hero_head {
    clip-path: polygon(69% 82%, 100% 90%, 100% 0, 0 0, 0 92%);
  }
}

/* common screen size */
/* 1300px */
/* 680 */
/* 320px-480px:mobile devices */
/* 481px - 768px   ipads,tablets*/
/* 769px - 1024px :small screens,laptops */
/* 1025px -1200px:desktop,large screens */
/* 1201px and more-Extra large screens */
